body {
    background-color: white;
    color: #010205;
    font-family: Roboto, Verdana, Arial, Sans-Serif;
    font-size: 11.0pt;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
}

div {
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    font-size: 170%;
    font-weight: bold;
    margin-top: 1ex;
    margin-bottom: 1.2em;
}

h2 {
    font-size: 150%;
    font-weight: bold;
    margin-top: 1ex;
    margin-bottom: 1.2em;
    padding: 5px 5px;
}

h3 {
    font-size: 130%;
    font-weight: bold;
    margin-top: 1ex;
    margin-bottom: 1.2em;
    padding: 3px 0px;
}

h4 {
    font-size: 100%;
    font-weight: bold;
    margin-top: 1ex;
    margin-bottom: 1.2em;
}

a {
    color: #07a;
    text-decoration: none;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a:link {
}

a:visited {
}

a:hover {
    color: #325c80;
    text-decoration: underline;
}

a:active {
}

img {
    border: 0;
}

#navigator {
    background-color: white;
    color: white;
    text-align: right;
    margin-top: 27.8438px;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 140px;
    padding-left: 0;
}

#navigator a {
    color: #7d7c7c;
    font-size: 108%;
}

#navigator a:hover {
    color: white;
}

#logo {
    float: left;
    margin-left: 60px;
    margin-top: -50px;
}

.download {
    font-size: 150%;
    font-weight: bold;
    color: white;
    background-color: #5aa700;
    padding: 11px;
    border-radius: 20px;
}

.download:hover {
    color: white;
    text-decoration: none;
}

.container {
    position: relative;
    padding: 0 0 0 55px;
}

#main {
    width: 100px;
    height: 20px;
    margin: 0 0 5px 0;
    width: 64%;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
}

#code_box {
    background: #303030;
    color: #f1f1f1;
    border-radius: 2px;
    -moz-box-shadow: inset 0 0 5px #000;
    box-shadow: inset 0 0 5px #000;
    overflow: scroll;
    height: 90px;
    width: 80%;
}

#main div {
    padding-left: 60px;
    padding-right: 50px;
}

#sidebar div {
    padding-left: 5px;
    padding-right: 20px;
}

.codetext {
    font-family: "Courier New", Monospace;
    font-size: 10pt;
    font-weight: 700;
    padding-left: 2%;
}

.download_section {
    padding-left: 25px;
    padding-right: 25px;
}

.download_files {
    padding-left: 50px;
}

.download_files hr {
    margin-right: 25px;
    padding-right: 25px;
}

.download_main {
    width: 100%;
}

.download_main div {
    padding-left: 0px;
    padding-right: 0px;
}

@media only screen and (max-width: 780px) {
    #code_box {
        overflow: scroll;
        height: 90px;
        width: 100%;
    }

    #main div {
        padding-left: 15px;
        padding-right: 15px;
    }

    .download_section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .download_files {
        padding-left: 25px;
    }

    h2 {
        font-size: 120%;
        font-weight: bold;
        margin-bottom: 1em;
        padding: 2px 2px;
    }

    h3 {
        font-size: 100%;
        font-weight: bold;
        margin-top: 1ex;
        margin-bottom: 1em;
        padding: 3px 0px;
    }

    h4 {
        font-size: 100%;
        font-weight: bold;
        margin-top: 1ex;
        margin-bottom: 1em;
    }

    body {
        font-size: 9.0pt;
    }
}
